/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0268b5;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #476072;
}
